@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Last Chapter</h1>
    <p>We're learning ASP.NET Core MVC in Fall 2021 at Lakehead-Georgian in COMP2084.</p>
</div>
